<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/css/skeleton.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
</head>
<body>
<div class="container">
<row>
    <div class = "three columns">
        <h1>Project {{project.name}}</h1>
        <ul>
            <li><a href="/projects/{{project.id}}">{{project.name}} :: {{project.description}}</a></li>
        </ul>
    </div>
</row>
</div>
</body>
</html>